:root {
  --primary-dark: hsl(300, 43%, 22%); /* Very Dark Magenta */
  --primary-light: hsl(333, 80%, 67%); /* Soft Pink */
  --neutral-dark: hsl(303, 10%, 53%); /* Dark Grayish Magenta */
  --neutral-light: hsl(300, 24%, 96%); /* Light Grayish Magenta */
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}

html {
  background: url(images/bg-pattern-top-mobile.svg) left top no-repeat,
    url(images/bg-pattern-bottom-mobile.svg) right top no-repeat;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-size: 0.9375rem;
}

h1,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 375px;
  margin: 1em auto;
  width: 80%;
  /* border: 2px solid red; */
}

.hero__text {
  padding: 0 0.5em;
  width: 80%;
  margin: auto;
  text-align: center;
  color: var(--primary-dark);
  /* border: 2px solid orange; */
}

.hero__title {
  font-weight: bold;
  font-size: 3rem;
  color: var(--primary-dark);
  margin: 2em 0 0.5em 0;
  line-height: 1;
}

.review {
  background-color: var(--neutral-light);
  border-radius: 20px;
  font-size: 0.75rem;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
}

.review-text {
  color: var(--primary-dark);
  font-weight: bold;
}

.testimonial-card {
  background-color: var(--primary-dark);
  color: var(--white);
  padding: 3.75em;
  border-radius: 20px;
  margin-top: 5em;
}

.testimonial-card + .testimonial-card {
  margin-top: 1.5em;
}

.user {
  display: flex;
}

.user-image {
  border-radius: 50%;
}

.user-name {
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.user-type {
  margin-left: 1.5em;
  color: var(--primary-light);
}

.user-testimonial {
  margin-top: 2em;
}

.testimonial::before {
  content: open-quote;
}

.testimonial::after {
  content: close-quote;
}

@media (min-width: 800px) {
  .bg-img {
    background: url(images/bg-pattern-top-desktop.svg) no-repeat;
    /* background-origin: border-box; */
  }

  .container {
    max-width: 1440px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .hero__text {
    width: 45%;
    text-align: left;
    margin-left: 0;
  }

  .reviews {
    width: 50%;
    margin-top: 8em;
  }

  .review {
    text-align: left;
    padding-left: 1.5em;
  }

  .review:nth-child(1) {
    margin-left: 30px;
    width: 80%;
  }
  .review:nth-child(2) {
    margin-left: 60px;
    width: 80%;
  }

  .review:nth-child(3) {
    margin-left: 90px;
    width: 80%;
  }

  .review p {
    display: inline-block;
    margin-left: 0.75em;
  }

  .testimonial-card {
    margin-top: 3em;
    padding: 2.5em 2em;
  }

  .testimonial-card + .testimonial-card {
    margin-top: 3em;
    margin-left: 1.5em;
  }

  .user-image {
    width: 40px;
    height: 40px;
  }

  .user-name {
    margin-top: 5px;
  }
}
